@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
  background-color: rgba(255, 0, 60, 0.05);
}

.about-paragraph{
    font-size: x-large;
    width: 2000px;
    text-align: center;

    &__container{
        background-color: #c648c8;
        width: 500px;
    }
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

    &:hover .home-component-image{
        opacity: 0.3;
        background-color: antiquewhite;
    }

    &:hover .middle{
        opacity: .45;
    }
}

.col-xs-12.col-md-4{
    background-color: #fff;
    width: 50vw;
}

.home-component-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    box-shadow: 8px 8px 10px black;
    align-items: center;
    margin-bottom: 40px;

    &:hover{
        opacity: .45;
    }

    &:hover .middle{
        opacity: .45;
    }
}

//Social Media Icons
.social-container {
    width: 400px;
    margin: 40vh auto;
    text-align: center;
}
  
.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;

    & li{
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1.2em;
    }

    & i {
        color: #fff;
        position: absolute;
        top: 21px;
        left: 21px;
        transition: all 265ms ease-out;
    }

    & a {
        display: inline-block;

        &:before{
            transform: scale(1);
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            content: " ";
            width: 60px;
            height: 60px;
            border-radius: 100%;
            display: block;
            background: linear-gradient(45deg, #ff003c, #c648c8);
            transition: all 265ms ease-out;
        }

        &:hover:before {
            transform: scale(0);
            transition: all 265ms ease-in;
          }

        &:hover i {
            transform: scale(2.2);
            -ms-transform: scale(2.2);
            -webkit-transform: scale(2.2);
            color: #ff003c;
            background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 265ms ease-in;
          }
        
          &.social-square:before {
            background: linear-gradient(45deg, gray, silver);
            border-radius: 10%;
          }

          &.social-square:hover:before {
            transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -webkit-transform: scale(-180deg);
            border-radius: 100%;
          }

          &.social-square:hover i {
            transform: scale(1.6);
            -ms-transform: scale(1.6);
            -webkit-transform: scale(1.6);
            color: #fff;
            transform: scale(1.6);
            -webkit-text-fill-color: #fff;
          }
    }
}

@media only screen and (max-width: 400px) {
    .home-component-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        box-shadow: 8px 8px 10px black;
        align-items: center;
        margin-bottom: 40px;
    }

    .about-paragraph{
        font-size: x-large;
        text-align: center;
        
    
        &__container{
            background-color: #c648c8;
            width: 80%;
            text-align: center;
        }
    }
  }